ul.footerbar {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

ul.footerbar>li {
    float: left;
    background-color: lightgreen;
}

@media (min-width:1000px) {
    ul.footerbar>li {
        width: 10%;
    }
}

@media (max-width:1000px) {
    ul.footerbar>li {
        width: 100%;
    }
}

ul.footerbar li a {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
    overflow-wrap: none;
    overflow: none;
    font-size: 100%;
    text-decoration: none;
    color: #000000;
}

ul.footerbar>li:hover {
    background-color: #000000;
}

ul.footerbar a:hover {
    color: #FFFFFF;
}



@media(min-width:1000px) {
    .footerbar {
        position: fixed;
        bottom: 0%;
        list-style-type: none;
        margin: 0%;
        padding: 0%;
        width: 100%;
    }
}