@media (min-width:1000px) {
    .main_header {
        display: block;
        width: 100%;
        position: fixed;
    }
    .main_header h1 {
        font-size: 50px;
        border-top: 0em;
        border-bottom: 0em;
        padding-top: 50px;
        padding-bottom: 50px;

    }
    .main_header li {
        height: 75px;
    }
    iframe{
        margin-top: 225px;
    }

}
iframe {
    width: 100%;
    height: 100em;
    border-collapse: collapse;
    border-style: none;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

ul.hnavbar {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

ul.hnavbar>li {
    float: left;
    background-color: lightgreen;
}

@media (min-width:1000px) {
    ul.hnavbar>li {
        width: 20%;
    }
}

@media (max-width:1000px) {
    ul.hnavbar>li {
        width: 100%;
    }
}

ul.hnavbar li a {
    padding: 1em;
    display: block;
    overflow-wrap: none;
    overflow: none;
    font-size: 150%;
    text-decoration: none;
    color: #000000;
}

ul.hnavbar>li:hover {
    background-color: #000000;
}

ul.hnavbar a:hover {
    color: #FFFFFF;
}

.bvnavbar ul {
    max-height: 0px;
    overflow: hidden;
    padding: 0px;
    -moz-transition: max-height 1s ease;
    transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
    -webkit-transition: max-height 1s ease;
    position: absolute;
    list-style-type: none;
}

li.bvnavbar:hover ul {
    max-height: 400%;
    background-color: lightgreen;
    position: absolute;
    overflow: visible;
}

@media (min-width:1000px) {
    li.bvnavbar:hover ul {
        width: 20%;
    }
}

@media (max-width:1000px) {
    li.bvnavbar:hover ul {
        width: 100%;
    }
}

li.bvnavbar:hover>a {
    color: #FFFFFF;
}

li.bvnavbar:hover li:hover {
    background-color: #000000;
}

li.bvnavbar:hover>a:hover {
    color: #FFFFFF;
}