body {
    font-family: calibri;
    font-size: auto;
    margin: 0%;
    border: 0%;
    padding: 0%;
    background-color: white;
    color: black;
}

h1.mainTitle {
    background-color: lightblue;
    background-size: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    width: 99%;
    font-size: 300%;
    margin-bottom: 0%;
    margin-top: 0%;
}

h1 {
    font-size: auto;
}

p {
    font-size: auto;
}

dt,
dd,
dl {
    text-decoration: none;
}

a.type1link {
    text-decoration: none;
    font-weight: bold;
    color: #330099;
}

a.type1link:visited {
    text-decoration: none;
    font-weight: 400;
    color: #6600cc;
}

a.type1link:hover {
    text-decoration: underline;
    font-weight: 400;
    color: #3366ff;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: aqua;
}

table.big {
    width: 50%;
    height: 50%;
}

@media (min-width:1000px) {
    iframe {
        margin-top: 10%;
    }
}

.centeredPicture {
    width: 50%;
    padding-left: 25%;
}

main {
    margin: 1%;
}

.switch_1_element {
    display: block;
    text-align: center;
    font-size: 200%;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 0%;
    width: 100%;
    background-color: lightblue;
    padding: 2%;
}

table.download_table {
    width: 100%;
    border-collapse: collapse;
}

table.download_table th,
table.download_table td {
    width: 20%;
}

table.switch_2_elements {
    margin: 0%;
    border: 0%;
    width: 100%;
    padding: 2%;
    border: none;
}

table.switch_2_elements td {
    margin: 0%;
    border: 0%;
    padding: 2%;
    width: 50%;
    text-align: center;
    font-size: 200%;
    list-style-type: none;
    border: none;
}

table.switch_2_elements td a {
    margin: 0%;
    border: 0%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 2%;
}

.intro_table {
    width: 100%;
    background-color: lightblue;
}
.intro_table td{
    padding: 4px;
}
.intro_table td.short {
    width: 15%;
}
.intro_table th{
    padding: 4px;
}
.intro_table th.short {
    width: 15%;
}
.val th{
    padding: 4px;
}